# *.m *.mt 是matnn脚本，不要识别为Wolfram
*.m linguist-language=C++
*.mt linguist-language=C++

# 文档、示例不参与代码语言统计
doc/** linguist-documentation
example/** linguist-documentation

# 排除二进制exe，不参与语言统计
*.exe linguist-vendored