# matnn脚本，属于示例脚本，不计入代码语言统计
*.mt linguist-documentation
*.m linguist-documentation

# doc、example整个目录标记文档
doc/** linguist-documentation
example/** linguist-documentation

# exe二进制排除统计
*.exe linguist-vendored
*.dll linguist-vendored